@font-face {
    font-family: Pixelmania;
    src: url(Pixelmania.ttf);
  }

.borda-tabela {
    border: 1px solid white;
    margin: 5px;
}

.bodyGeral {
    background-color: rgb(51, 51, 51);
 }

.display-4 {
     padding-top: 1em;
 }

th, td {
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.header{
    font-family: Pixelmania;
    text-align: center;
    background-color: #0575E6;
    background-image: linear-gradient(90deg, #00F260, #0575E6); /*rgb(66, 91, 145);*/
    width: 100%;
    height: 200px;
    color: rgb(255, 255, 255);
}

.centro{
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}



td, h3{
    color: white;
}

.sorteado{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
    width: 30px;
    height: 30px;
    color: white;
    background-color: #0575E6;
    border: 2px solid white;
    border-radius: 15px;
    margin: 5px;
} 

@media (max-width:1250px) {
    #bingo {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col-8{
        flex-direction: column;
    }
}

@media (max-width:800px) {
    div.col-8, div.col, .row {
        flex-direction: column;
        
    }

.row {
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1.display-4 {
    font-size: 26px;
    padding-top: 70px;
}

}

